{% extends 'base.html' %}

{% block title %}
<!-- <title>確認</title> -->
<title>Confirmation</title>
{% endblock %}

{% block content %}
<form action="delete" method="POST">
    <input type="hidden" value="{{form['name']}}" name="name" />
    <input type="hidden" value="{{form['volume']}}" name="volume" />
    <input type="hidden" value="{{form['author']}}" name="author" />
    <input type="hidden" value="{{form['publisher']}}" name="publisher" />
    <input type="hidden" value="{{form['no_pages']}}" name="no_pages" />
    <input type="hidden" value="{{form['memo']}}" name="memo" />
    {% if registId %}
        <input type="hidden" value="{{registId}}" name="id" />
    {% endif %}
    <div class="container">
        <!-- <h3>登録情報の確認</h3>
        <p>登録内容を確認して下さい</p> -->
        <!-- <h3>Confirm registration information</h3> -->
        <h3>{{confirm_title}}</h3>
        <p>Please check the registration details</p>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        {% for head in headers %}
                        <th>{{head}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in form.values() %}
                        <td>{{data}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <!-- <button class="btn btn-secondary" name="next" value="back">戻る</button> -->
        <button class="btn btn-primary" name="next" value="regist">Registration</button>
        <button class="btn btn-secondary" name="next" value="back">Back</button>
        <!-- <button class="btn btn-primary" name="next" value="regist">{{confirm_button}}</button> -->
        <!-- <button class="btn btn-primary" name="submit" value={{registId}}>{{confirm_button}}</button> -->
    </div>
</form>
{% endblock %}
