{% extends 'base.html' %}

{% block title %}
<title>Confirmation</title>
{% endblock %}

{% block content %}
<form action="/" method="POST">

    <div class="container">
        <h3>{{confirm_title}}</h3>
        <p>Please check the registration details</p>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        {% for head in headers %}
                        <th>{{head}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in form.values() %}
                        <td>{{data}}</td>
                        {% endfor %}
                    </tr>
                </table>
                <p>this is test line</p>
            </div>
        </div>
        <button class="btn btn-secondary" name="back" value="back">Back</button>
        <button class="btn btn-primary" name="next" value="test11">{{confirm_button}}</button>
    </div>
</form>
{% endblock %}
